* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.displayFlex {
  display: flex;
}
.flexColumn {
  flex-direction: column;
}
body,
html {
  width: 100%;
  background-color: #f2f4f7;
}
.container {
  flex-direction: row;
  background-color: #f2f4f7;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.sidebar-container {
  width: 20%;
  height: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.right-content {
  width: 80%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.sidebar {
  width: 100%;

  height: 64rem;
  background-color: #ffffff;
  border-right: 1px solid #eaecf0;
}

.sidebar-logo div:first-of-type {
  padding: 2rem 0 0 20px;
}

.sidebar-logo div:last-of-type {
  padding: 2rem 0 0 20px;
}
.sidebar-dashboard-list {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 22px;

  color: #282828;
  padding: 22px;
}

.sidebar-dashboard-list li {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.sidebar-dashboard-list li span {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.sidebar-dashboard-list li span:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.sidebar-dashboard-list li span:after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
}

.sidebar-icon-dashboard span:before {
  background-image: url("../img/dashboard-vector.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-icon-dashboard span::after {
  background-image: url("../img/chevron-down.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-icon-analytics span:before {
  background-image: url("../img/email.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-icon-analytics span::after {
  background-image: url("../img/chevron-down.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-icon-finance span:before {
  background-image: url("../img/Elements/Icon/user.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-icon-finance span::after {
  background-image: url("../img/chevron-down.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-icon-job-board span:before {
  background-image: url("../img/layout-grid.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-icon-job-board span::after {
  background-image: url("../img/chevron-down.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-icon-support span:before {
  background-image: url("../img/Support.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-icon-support span::after {
  background-image: url("../img/chevron-down.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-icon-folder span:before {
  background-image: url("../img/Folder.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-icon-folder span::after {
  background-image: url("../img/chevron-down.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-pages img {
  padding-top: 2rem;
  padding-left: 20px;
}
.sidebar-options {
  justify-content: space-evenly;

  margin-top: auto;
  padding-bottom: 0.75rem;
}

.header {
  justify-content: space-between;
  width: 100%;
  height: 4.125rem;
  border-bottom: 1px solid #eaecf0;
  background: #ffffff;
  align-items: center;
}
.search-input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #9d9fa2;
  border: 1px solid #eaecf0;
  margin: 0.625rem 2rem 0.625rem 2rem;
  width: 70%;
  height: 2.875rem;
  border-radius: 6px;
  background: #ffffff;

  padding-left: 40px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}
.search-input::placeholder {
  padding: 0.625rem 1rem 0.625rem 1rem;
}
.header-widget {
  align-items: center;
  margin-right: 2rem;
}

.header-icon-container {
  display: flex;
  align-items: center;
  gap: 0.675rem;
}

.header-profile-container {
  margin-left: 0.675rem;
}
.card-container {
  height: 8rem;
  margin: 2rem;
  background-color: #282828;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
}
.card_text {
  width: 286px;
  height: 22px;

  /* Text/14px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #ffffff;
}
.card_title {
  width: 284px;
  height: 34px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;

  letter-spacing: -0.6px;

  color: #ffffff;
}

.card_button_icon:hover {
  cursor: pointer;
}
.chart-container {
  justify-content: space-evenly;
  margin: 2rem;
  height: 162px;
  align-items: flex-start;
  gap: 20px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.chart1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 8px;

  width: 20%;
  height: 162px;

  background: #ffffff;
  /* Shadow/01 */

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.chart2 {
  /* Type=Metric. Style=Style 6 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 8px;

  width: 20%;
  height: 162px;

  background: #ffffff;
  /* Shadow/01 */

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.chart3 {
  /* Type=Metric. Style=Style 7 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 8px;

  width: 20%;
  height: 162px;

  background: #ffffff;
  /* Shadow/01 */

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.chart4 {
  /* Type=Metric. Style=Style 8 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 8px;

  width: 20%;
  height: 162px;

  background: #ffffff;
  /* Shadow/01 */

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 1;
}
.chart1_container {
  /* Content */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 222px;
  height: 122px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart1_upper_content {
  /* Header */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 222px;
  height: 66px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart1_lower_content {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 222px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.chart1_title {
  /* Revenue */

  width: 222px;
  height: 26px;

  /* Text/16px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  color: #5f6980;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart1_item_cost {
  /* $56,945 */

  width: 222px;
  height: 40px;

  /* Text/26px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  /* identical to box height, or 154% */

  color: #282828;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.chart1_green_percentage_container {
  /* Badge */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 10px;

  width: 54px;
  height: 24px;

  background: #dcfff5;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.chart1_green_percentage_container {
  /* Hello */

  width: 34px;
  height: 20px;

  /* Text/12px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #20c997;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.chart1_from_percent {
  /* From 4.6% */

  width: 160px;
  height: 20px;

  /* Text/12px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #9d9fa2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.chart2_content {
  /* Content */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 222px;
  height: 122px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart2_upper_content {
  /* Header */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 222px;
  height: 66px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart2_title {
  /* Users */

  width: 222px;
  height: 26px;

  /* Text/16px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  color: #5f6980;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart2_percentage {
  /* 76.8% */

  width: 222px;
  height: 40px;

  /* Text/26px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  /* identical to box height, or 154% */

  color: #282828;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.chart2_lower_content {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 222px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.chart2_badge_container {
  /* Badge */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 10px;

  width: 52px;
  height: 24px;

  background: #ffe0e3;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.chart2_badge {
  /* Hello */

  width: 32px;
  height: 20px;

  /* Text/12px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #dc3545;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.chart2_from {
  /* From 4.6% */

  width: 162px;
  height: 20px;

  /* Text/12px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #9d9fa2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.chart3_content {
  /* Content */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 222px;
  height: 122px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart3_upper_content {
  /* Header */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 222px;
  height: 66px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart3_title {
  /* New Signups */

  width: 222px;
  height: 26px;

  /* Text/16px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  color: #5f6980;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart3_info {
  /* 116 */

  width: 222px;
  height: 40px;

  /* Text/26px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  /* identical to box height, or 154% */

  color: #282828;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.chart3_badge_container {
  /* Badge */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 10px;

  width: 47px;
  height: 24px;

  background: #f2f4f7;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.chart3_badge {
  /* Hello */

  width: 27px;
  height: 20px;

  /* Text/12px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #5f6980;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.chart4_content {
  /* Content */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 222px;
  height: 122px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.chart4_upper_content {
  /* Header */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 222px;
  height: 66px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart4_title {
  /* Retention */

  width: 222px;
  height: 26px;

  /* Text/16px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  color: #5f6980;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.chart4_percentage {
  /* 12.67% */

  width: 222px;
  height: 40px;

  /* Text/26px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  /* identical to box height, or 154% */

  color: #282828;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.chart4_lower_content {
  /* Info */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 222px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.chart4_badge_container {
  /* Badge */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 10px;

  width: 57px;
  height: 24px;

  background: #dcfff5;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.chart4_badge {
  /* Hello */

  width: 37px;
  height: 20px;

  /* Text/12px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #20c997;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.chart4_from {
  /* From 4.6% */

  width: 157px;
  height: 20px;

  /* Text/12px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #9d9fa2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.performance-container {
  /* Elements/Chart 2 */

  /* Auto layout */
  margin: 2rem;

  flex-direction: column;
  align-items: center;
  padding: 0px 0px 24px;
  gap: 32px;

  height: 600px;

  background: #ffffff;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.performance-header {
  /* Elements/Card Header */

  height: 62px;

  background: #ffffff;
  border-bottom: 1px solid #eaecf0;

  /* Inside auto layout */
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.performance-title {
  position: absolute;
  width: 122px;
  height: 30px;
  left: 24px;
  top: calc(50% - 30px / 2);

  /* Text/18px/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: #282828;
}
.performance-icon-dots {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: calc(50% - 24px / 2);
}
.performance-axes {
  /* Axis */

  /* Auto layout */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px;
  gap: 8px;

  width: 1144px;
  height: 286px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.performance-content {
  width: 1096px;
  height: 286px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.performance-element-lineChart {
  width: 1043px;
  position: absolute;
  height: 240px;
  left: 53px;
  right: 0px;
  top: 0px;
}

.performance-element-group1 {
  height: 160.32766723632812px;
  width: 1043px;
  left: 0px;
  top: 79.67236328125px;
  border-radius: 0px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 33.2%;
  bottom: 0%;
}
.performance-element-group2 {
  height: 239.9996795654297px;
  width: 1043px;
  left: 0px;
  top: 0px;
  border-radius: 0px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.lower-vector {
  background: linear-gradient(
    180deg,
    rgba(66, 133, 244, 0.25) 0%,
    rgba(66, 133, 244, 0) 100%
  );
}
.lower-vector2 {
  background: linear-gradient(
    180deg,
    rgba(32, 201, 151, 0.13) 0%,
    rgba(32, 201, 151, 0) 100%
  );
}

.performance-x-axes {
  /* X Axis */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;

  position: absolute;
  height: 20px;
  left: 53px;
  right: 0px;
  bottom: 0px;
}
.performance-x-axes span:nth-child(1) {
  /* 01 */

  width: 22px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.performance-x-axes span:nth-child(2) {
  /* 01 */

  width: 25px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.performance-x-axes span:nth-child(3) {
  /* 01 */

  width: 21px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.performance-x-axes span:nth-child(4) {
  /* 01 */

  width: 26px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
.performance-x-axes span:nth-child(5) {
  /* 01 */

  width: 22px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}
.performance-x-axes span:nth-child(6) {
  /* 01 */

  width: 15px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 5;
  flex-grow: 0;
}
.performance-x-axes span:nth-child(7) {
  /* 6 */

  width: 19px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 6;
  flex-grow: 0;
}
.performance-y-axes {
  /* Y Axis */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 23px;
  left: 0px;
  top: 0px;
  bottom: 26px;
}
.performance-y-axes span:nth-child(1) {
  /* 400 */

  width: 23px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.performance-y-axes span:nth-child(2) {
  /* 300 */

  width: 23px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.performance-y-axes span:nth-child(3) {
  /* 200 */

  width: 23px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.performance-y-axes span:nth-child(4) {
  /* 100 */

  width: 21px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
.performance-y-axes span:nth-child(5) {
  /* 0 */

  width: 8px;
  height: 20px;

  /* Text/12px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #9d9fa2;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}
.performance-element-legend {
  /* Elements/Legend */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  margin: auto;
  width: 1144px;
  height: 22px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.performance-element-legent-item1 {
  /* Item */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 86px;
  height: 22px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.performance-element-legent-item2 {
  /* Item */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 86px;
  height: 22px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.performance-item-content2 {
  /* Text */

  width: 66px;
  height: 22px;

  /* Text/14px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: #5f6980;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.performance-item2-content2 {
  /* Text */

  width: 66px;
  height: 22px;

  /* Text/14px/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: #5f6980;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
